@import '../mixins';
@import '../variables';

.equipments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  padding: 1rem;
  background-color: $ColorSecundario;
  color: $ColorTerciario;
}

.equipments-container h2 {
  font-family: $Subtitulo;
  font-size: $SubtitleSize;
}

.equipments-container p {
  font-family: $Texto;
  font-size: $TextSize;
}

.equipments-container-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}