/* PALETA DE COLORES */
    $ColorPrimario: #E30613;
    $ColorSecundario: #000000;
    $ColorTerciario: #FFFFFF;

/* FUENTES TIPOGRAFICAS */
    $Titulo: 'Open Sans', sans-serif;
    $SubTitulo: 'Josefin Slab', serif;
    $Texto:  'Nunito Sans', sans-serif;
