    /* PALETA DE COLORES */
    $ColorPrimario: #E30613;
    $ColorSecundario: #000000;
    $ColorTerciario: #FFFFFF;

    /* FUENTES TIPOGRAFICAS */
    $Titulo: 'Open Sans', sans-serif;
    $Subtitulo: 'Source Sans Pro', serif;
    $Texto:  'Nunito Sans', sans-serif;

    /* Tamaños */

    $TitleSize: 5rem;
    $SubtitleSize: 3rem;
    $TextSize: 1.5rem;