@import '../mixins';
@import '../variables';

.event-unit-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $ColorTerciario;
  color: $ColorSecundario;
  padding: 1rem;
  margin: 1rem;
  padding-bottom: 2rem;
  border-radius: 25px;
  transition: 1s all;
}

.event-unit-card:hover {
  background-color: $ColorSecundario;
  color: $ColorTerciario;
  border: 1px solid white;
  box-shadow: 1px 1px 2px 3px white;
}

.event-unit-card h4 {
  font-family: $Subtitulo;
  font-size: $SubtitleSize;
}

.event-unit-card p {
  font-family: $Texto;
  font-size: $TextSize;
  max-width: 80%;
  padding: 5%;
}

.event-img{
    width: 100%;
    border-radius: 25px;
    margin-top: 5%;
}

@include small() {
  .event-unit-card {
    width: 80%;
  }
}
 