@import '../variables';
@import '../mixins';

.badge-count {
  display: flex;
  cursor: pointer;
}

.badge-count:hover {
  opacity: 0.5;
}

.rs-badge-content {
  position: relative;
  left: -18px;
  top: -7px;
  background-color: tomato;
  color: white;
  border-radius: 100%;
  width: 26px;
  height: 27px;
  text-align: center;
}

.items-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.item-unit-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 25px;
}

.item-unit-list img {
  border-radius: 100%;
}

.item-unit-list p {
  font-family: $Texto;
  font-size: $TextSize;
}