@import '../mixins';
@import '../variables';

.instagram-container {
  text-align: center;
  padding: 1rem;
}

.instagram-container p {
  width: 80%;
  font-family: $Texto;
  font-size: $TextSize;
}

.instagram-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}