@import '../variables';
@import '../mixins';

.d-block {
    filter: brightness(0.4);
    height: 75vh;
}

.carousel-caption {
    font-family: "Open Sans", sans-serif;
    word-wrap: break-word;
    position: relative;
    top: 20%;
    left: 70%;
    font-size: 7rem;
}

.Carrousell-subItems {
    font-size: 7rem;
}

.P-carousell {
    font-size: 1.8rem;
}

@include small() {
    .d-block {
        height: 45vh;
    }
    .carousel-caption {
        font-size: 250%;
        padding-top: 0rem;
    }
    .Carrousell-subItems{
        font-size: 50%;
    }
    .P-carousell {
        font-size: 80%;
    }
}