@import '../variables';

.jobs-main-container {
    color: $ColorTerciario;
    background-color: $ColorSecundario;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    justify-content: center;

}

.jobs-main-container h2 {
    font-family: $Subtitulo;
    font-size: 2.5rem;
}

.sub_grid_wrapper ImageGrid {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
}
/*
.ImageGrid div {
    width: 70%;
}*/
