@import '../variables';

.jobs-main-container {
    color: $ColorTerciario;
    background-color: $ColorSecundario;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    justify-content: center;

}

.jobs-main-container h2 {
    font-family: $Subtitulo;
    font-size: $SubtitleSize;
    margin-top: 1.3%;
    margin-bottom: 1%;
}

.sub_grid_wrapper ImageGrid {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
}

.imagenes-clientes{
    border-radius: 3%;
    padding: 1%;
}

/*
.ImageGrid div {
    width: 70%;
}*/
