@import '../variables';

.d-block {
    filter: brightness(0.4);
}

.carousel-caption {
    font-family: $Titulo;
    word-wrap: break-word;
    position: relative;
    top: 30%;
    left: 50%;
    font-size: 5rem;
}